@tailwind base;
@tailwind utilities;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: 'Poppins';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icons svg{
    color: rgb(95, 5, 122);
    font-size: 30px;
}

.op svg{
  color: rgb(95, 5, 122);
  font-size: 35px;
  transition: all 0.5s ease-in;
}

.op:hover svg{
  transform: scale(1.2);
}